.App {
  text-align: center;
  background-color: aquamarine;
  height: 100vh;
}

.btn{
  margin-top: 10px;
  margin-right: 5px;
}

.modal-body{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-right: 0px !important;
}

.group{
  margin: 15px 0px 0px 0px !important;
}
.col{
  padding-left: 10px;
  padding-right: 10px;
}
.sub-header{
  text-transform: uppercase;
  font-weight: bold;
  color: #3366ff;
  padding-bottom: 0px;
  margin-bottom: 0px;  
}

svg {
  height: 1em;
  margin-left: 0.5em;
}

.map-col{
  padding-left: 0px;
  padding-right: 0px; 

}

.map{
  background-color: black;
  width: 100%; /* or any custom size */
  height: 100%; 
  object-fit: contain;
  /* padding-left: 0px;*/
  /* padding-right: -10px;  */
}

.label{
  text-align: start;
}
.bold{
  color: black;
  font-weight: bold;
}

.plus{
  text-align: end;
}

.scroll {
  height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
}

.scroll::-webkit-scrollbar {
  width: 3px;
}

.scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.scroll::-webkit-scrollbar-thumb {
background-color: darkgrey;
outline: 1px solid slategrey;
}

.bttn{
  margin-top: 10px;
  margin-right: 5px;
  width: 100%;
  color: #212529;
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  border-color: #f8f9fa;
  padding: .375rem .75rem;
}

.content-buttons{
  cursor: context-menu;
  width: 100%;
  color: #212529;
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  border-color: #f8f9fa;
  padding: .375rem .75rem;
}


.content-buttons:hover{
  background-color: #e2e6ea;
}

.content-button1{
  cursor: context-menu;
  color: #212529; 
  background-color: #f8f9fa; 
  border-radius: 0.25rem;
  border-color: #f8f9fa; 
  padding: .375rem 0.75rem .375rem 0px;
}

.content-buttons:hover{
  background-color: #e2e6ea;
}

.content-button2{
  cursor: context-menu;
  text-align: center;
  color: #3366ff;
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  border-top: 1px solid #c5cee0;
  padding: .375rem .75rem;
}

.content-button2:hover{
  background-color: #3366ff;
  color: #f8f9fa;
}

.collapsible{
  margin-top: 10px;
  margin-right: 5px;
  display: block;
  width: 100%;
  color: #212529;
  background-color: #f8f9fa;
  border-radius: 0.25rem;
  border-color: #f8f9fa;
  padding: .375rem .75rem;
}

.active, .collapsible:hover {
  background-color: #e2e6ea;
}

.content {
  margin-right: 5px;
  width: 100%;
  padding: 0rem .75rem;
  overflow: hidden;
  background-color: #edf1f7;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.btn-out-primary{
  border: 1px solid #007bff;
  background-color: transparent;
  color: #007bff;
  border-color: #007bff;
}


.btn-out-secondary{
  border: 1px solid #8f9bb3;
  background-color: transparent;
  color: #8f9bb3;
  border-color: #8f9bb3;
}

.btn-out-secondary:hover{
  background-color: #8f9bb3;
  color: white;

}

